/* Blue: #0055A4 */
/* Red: #EF4135 */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.paris {
	background-color: #0055A4;
}

.normandy {
	background-color: #EF4135;
}

#map {
	/* height: 80%; */
	height: 70%;
	width: 98%;
}

.container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.font {
	font-family: 'DM Serif Display', serif;
}

.title {
	margin: 0.1em 0;
	font-size: 5em;
	color: white;
}

.switch-map-btn {
	margin: 0 0 1em 0;
	padding: 1em 1em;
	color: white;
	border-radius: 10px;
	font-family: sans-serif;
}

.paris-btn {
	background-color: #EF4135;
}

.normandy-btn {
	background-color: #0055A4;
}

.subtitle {
	font-size: 700%;
	text-decoration: underline;
}

.company-name {
	font-size: 550%;
}

ul {
	font-size: 300%;
	list-style-type: square;
}

a {
	text-decoration: none;
	color: gray;
}

.strike {
	text-decoration: line-through;
}
